recent/*
srecode-map.el
ac-comphist.dat
README.pdf
README.tex
README.html
.smex-items
*.html
elpa/*
*.el~
config/*.el~
.last-package-update-day
auto-save-list/*
*.org~
resources/*
*.el#
config/*.el#
*.org#
config/custom.el
.gitignore~
.cache/